[submodule "axon_velocity"]
	path = axon_velocity
	url = git@github_adamwea:adamwea/axon_velocity.git
[submodule "axon_velocity_fork"]
	path = axon_velocity_fork
	url = git@github_adamwea:adamwea/axon_velocity.git
